* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-image: linear-gradient(120deg, rgb(0,255,222), rgb(9, 170, 111));
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.todo-h2-list {
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    font-family: 'Lobster', cursive;
    margin-top: 150px;
}
.todo-form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.todo-input {
    height: 20px;
    min-width: 250px;
    outline: none;
    font-size: 20px;
    padding: 10px 10px;
    border: 1px solid transparent;
    box-sizing: content-box;
}
.todo-input-border {
    border: 1px solid black;
}
.todo-button {
    width: 40px;
    height: 40px;
    font-size: 47px;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    position: relative;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin-left: 5px;
    outline: none;
}
.icon-plus-sign-alt {
    position: absolute;
    top:-4px;
    left:0;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 20%;
    list-style: none;
}
.div-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    color: black;
    font-size: 20px;
    margin: 20px 0;
}
.complete-btn,
.delete-btn {
    font-size: 31px;
    border: none;
    outline: none;
    background-color:transparent;
    color: #ffffff;
    padding: 5px;
}
.complete-btn:hover {
    background-color: rgb(34, 180, 21);
}
.delete-btn:hover {
    background-color: rgb(226, 19, 19);
}
.icon-ok,
.icon-trash {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
}